{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4">

    <!-- Back Button -->
    <div class="mb-2 d-flex justify-content-end">
        <a href="{% url 'quiz:quiz_list' %}" class="btn btn-link"><i class="fas fa-arrow-left"></i> Back to all Quizzes</a>
    </div>
    

    <!-- Title and Actions --> 
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1 class="card-title mb-0 d-flex align-items-center">
                <span class="fw-bold fs-3 me-2" style="margin-top: -0.2em;">{{ quiz.quiz_title }}</span>
                <!-- Adjust margin-top to lift the title -->
                <span class="badge text-dark me-2 fs-6 border border-primary" style="background-color: #d0e6ff; border-color: #a0c4ff; font-size: 0.5rem; padding: 0.1rem 0.2rem;">{{ quiz.quiz_description }}</span>
            </h1>
            <p class="text-muted mb-0">
                Created by <strong>{{ quiz.created_by }}</strong> on {{ quiz.created_at|date:"d M Y" }}
            </p>
        </div>
        <div class="btn-group-custom">
            <button class="btn btn-sm btn-outline-primary" title="Edit assessment" onclick="location.href='{% url 'quiz:quiz_edit' quiz.id %}'">
                <i class="fas fa-edit"></i> Edit 
            </button>
            <button class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'quiz:import_questions' quiz.id %}'">
                <i class="fas fa-file-import"></i> Import
            </button>
            <button class="btn btn-outline-secondary btn-sm" onclick="location.href='{% url 'quiz:export_questions' quiz.id %}'">
                <i class="fas fa-file-export"></i> Export
            </button>
            <button class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'quiz:import_quiz_json' quiz.id course.id %}'">
                <i class="fas fa-file-export"></i> Json Import
            </button>
        </div>        
    </div>
    
    <form method="GET" action="{% url 'quiz:quiz_detail' quiz.id %}" class="form-inline justify-content-center mt-3">
        <div class="form-group select-group mx-2">
            <select class="form-control" id="courseSelect" name="course" onchange="this.form.submit()">
                <option value="">All Courses</option>
                {% for course in courses %}
                    <option value="{{ course.id }}" {% if course.id|stringformat:"s" == selected_course %}selected{% endif %}>
                        {{ course.course_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>
    

    <!-- Multiple Choice Library -->
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="card shadow-sm hover-shadow">
                <div class="card-header">
                    <h5 class="mb-0">Multiple Choice Library</h5>
                </div>
                <div class="card-body question-library" style="max-height: 400px; overflow-y: auto; scrollbar-width: thin;">
                    <div class="accordion" id="quizAccordion">
                        {% if all_quizzes %}
                            {% for quiz_option in all_quizzes %}                                                      
                            <div class="accordion-item" data-quiz-title="{{ quiz_option.quiz_title }}">
                                <h2 class="accordion-header" id="heading{{ quiz_option.id }}">
                                    <div class="quiz-dropdown border rounded p-2 mb-2 bg-light" id="quizDropdown{{ quiz_option.id }}" style="cursor: pointer;">
                                            <div class="quiz-header d-flex justify-content-between align-items-center border-bottom pb-1 mb-1">
                                                <div class="position-relative">
                                                    <span class="quiz-title h6 fw-bold" style="font-size: 18px; margin-right: 10px;">
                                                        {{ quiz_option.quiz_title }}
                                                    </span>
                                                    <span class="badge" style="background-color: #4CAF50; color: #FFFFFF; font-size: 12px; position: absolute; top: 1px; right: -30px; padding: 2px 5px; border-radius: 3px; font-weight: bold;">
                                                        Easy
                                                    </span>
                                                    <div class="quiz-info d-flex gap-3" style="font-size: 0.9rem; color: #666;">
                                                        <span class="badge bg-success">{{ quiz_option.total_questions }} questions</span>
                                                        <div style="position: absolute; left: 200px; margin-top: 5px; transform: rotate(180deg);">
                                                            <svg width="12" height="12" viewBox="0 0 24 24">
                                                                <path d="M 12 4 L 20 16 L 4 16 Z" fill="#999999" stroke="#999999" stroke-width="5" stroke-linejoin="round" style="filter: drop-shadow(0 0 3px cyan);"/>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-primary d-flex align-items-center justify-content-center position-relative btn-add-question add-questions" 
                                                        data-quiz-id="{{ quiz_option.id }}" 
                                                        data-question-id="{{ question.id }}" 
                                                        style="width: 35px; height: 35px; border-radius: 50%; transition: width 0.3s ease; overflow: hidden;" 
                                                        onmouseover="this.style.width='70px'; this.style.borderRadius='5px'; this.querySelector('.add-all-text').style.opacity='1'; this.querySelector('.add-all-text').style.transform='translateY(0)'; this.querySelector('.plus-sign').style.opacity='0';" 
                                                        onmouseout="this.style.width='35px'; this.style.borderRadius='50%'; this.querySelector('.add-all-text').style.opacity='0'; this.querySelector('.add-all-text').style.transform='translateY(-10px)'; this.querySelector('.plus-sign').style.opacity='1';">
                                                    <span class="plus-sign" style="font-size: 1.3rem; transition: opacity 0.3s ease;">+</span>
                                                    <span class="add-all-text position-absolute" style="opacity: 0; left: 20%; transform: translateX(-50%) translateY(-10px); font-size: 0.8rem; transition: opacity 0.3s ease, transform 0.3s ease;">Add All</span>
                                                </button>

                                            </div>

                                        {% if selected_quiz %}
                                            <div class="selected-quiz-info">
                                                <span>Selected Quiz: {{ selected_quiz.quiz_title }}</span>
                                                <span>Total Questions: {{ total_questions_selected_quiz }}</span>  <!-- Display total questions -->
                                            </div>
                                        {% endif %}
                                    </div>
                                </h2>
                                <div id="collapse{{ quiz_option.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ quiz_option.id }}" data-bs-parent="#quizAccordion">
                                    <div class="accordion-body">                                       
                                        <ul class="list-group" style="max-height: 400px; overflow-y: auto; scrollbar-width: thin;">
                                            {% for question in quiz_option.questions.all %}
                                            <li class="list-group-item d-flex align-items-start justify-content-between shadow-sm">
                                                <span class="question-text">{{ question.question_text|safe }}</span>
                                                <button class="btn btn-sm btn-primary add-question ms-3 align-self-center" data-question-id="{{ question.id }}">+</button>
                                                <div class="answer-options bg-success-subtle d-none">
                                                    {% for answer in question.answer_options.all %}
                                                    <span class="answer-option" data-is-correct="{{ answer.is_correct|yesno:'true,false' }}" data-answer-id="{{ answer.id }}">{{ answer.option_text }}</span>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                
                            {% endfor %}
                        {% else %}
                            <p>No quizzes available for the selected course.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Selected Questions -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Selected Questions on {{quiz.quiz_title}}</h5>
                </div>
                <div id="addQuestionFormContainer" style="display: none;">  <!-- Moved here -->
                    <form method="POST" id="addQuestionForm">
                        {% csrf_token %}
                        <input type="hidden" name="add_question" value="true">
                        <div class="mb-3">
                            <label for="{{ question_form.question_text.id_for_label }}" class="form-label"></label>
                            {{ question_form.question_text.errors }}
                            {{ question_form.question_text|add_class:"form-control form-control-sm"|attr:"style: height: 60px; font-size: 0.87rem;" }}
                        </div>
                        <button type="submit" class="btn btn-success btn-sm" style="margin-bottom: 20px;"><i class="fas fa-save"></i> Save to Library</button>
                    </form>
                </div> 
                <div class="card-body">
                    <ul class="list-group" id="selected-questions" style="max-height: 350px; overflow-y: auto;">
                        <!-- Selected questions will be dynamically added here -->
                    </ul>
                                                                   
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Quiz Button -->
    <div class="text-end mt-4">
        <a href="{% url 'quiz:quiz_delete' quiz.id %}" class="btn btn-danger btn-sm" title="Delete">
            <i class="fas fa-trash"></i> Delete
        </a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addQuestionButtons = document.querySelectorAll('.add-question');
        const selectedQuestionsList = document.getElementById('selected-questions');
        let isQuizSelected = false;

        const buttonContainer = document.createElement('div');
        buttonContainer.className = 'd-flex justify-content-end mt-3';

        const saveButton = document.createElement('button');
        
        saveButton.className = 'btn btn-success btn-sm'; 
        saveButton.innerText = 'Save';
        saveButton.style.display = 'none'; 
        buttonContainer.appendChild(saveButton);
        selectedQuestionsList.parentElement.appendChild(buttonContainer);
        const toggleButton = document.getElementById('toggleAddQuestionForm');
        const formContainer = document.getElementById('addQuestionFormContainer');

        // Create the Add Question button
        const QuestionButton = document.createElement('button');
        QuestionButton.className = 'btn btn-primary btn-sm'; 
        QuestionButton.innerText = 'Add Question';
        QuestionButton.style.marginLeft = '10px'; // Optional: spacing between buttons
        buttonContainer.appendChild(QuestionButton);

        // Add event listener for the button
        QuestionButton.addEventListener('click', function () {
            const formContainer = document.getElementById('addQuestionFormContainer');
            if (formContainer.style.display === 'none' || formContainer.style.display === '') {
                formContainer.style.display = 'block'; // Show the form
            } else {
                formContainer.style.display = 'none'; // Hide the form
            }
        });

        // Lặp qua tất cả các nút "Thêm câu hỏi"
        const toggleButtons = document.querySelectorAll("[id^='toggleAddQuestionForm']");
        

        

        toggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                const quizId = this.id.replace('toggleAddQuestionForm', '');  // Lấy id của quiz từ button
                const formContainer = document.getElementById('addQuestionFormContainer' + quizId);  // Form tương ứng với quiz

                // Toggle hiển thị form
                if (formContainer.style.display === "none" || !formContainer.style.display) {
                    formContainer.style.display = "block";
                } else {
                    formContainer.style.display = "none";
                }
            });
        });     


        const questionMap = new Map(); 

        const currentQuizQuestionsContainer = document.querySelector('.current-quiz-questions');

        if (currentQuizQuestionsContainer) {  // Check if the current quiz questions container exists
            const currentQuizQuestions = currentQuizQuestionsContainer.querySelectorAll('.add-question');
            currentQuizQuestions.forEach(question => question.click());
        }

        const quizDropdowns = document.querySelectorAll('.quiz-dropdown');

        quizDropdowns.forEach(dropdown => {
            dropdown.addEventListener('click', function (event) {
                const quizTitle = dropdown.querySelector('.quiz-title').innerText.trim();

                if (quizTitle === selectedQuizTitle) {
                    // Hide the dropdown for the current quiz.  The questions are already displayed.
                    dropdown.style.display = 'none';
                    dropdown.closest('.accordion-item').style.display = 'none';

                } else {
                // Check if the click target is NOT the `+` button or `Add All` text
                if (!event.target.classList.contains('btn-add-question') && !event.target.classList.contains('add-all-text')) {
                    const quizId = dropdown.getAttribute('id').replace('quizDropdown', 'collapse');
                    const targetCollapse = document.getElementById(quizId);

                    // Toggle the collapse state
                    const isCollapsed = targetCollapse.classList.contains('show');
                    if (isCollapsed) {
                        targetCollapse.classList.remove('show');
                    } else {
                        targetCollapse.classList.add('show');
                    }
                }
            }
            });

            // Optional: Add functionality to the Add All button
            const addAllButton = dropdown.querySelector('.btn-add-question');
            addAllButton.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevent the click from bubbling up to the dropdown
                const quizId = addAllButton.getAttribute('data-quiz-id');
                const questionId = addAllButton.getAttribute('data-question-id');
            });
        });
        
        const selectedQuizTitle = "{{ quiz.quiz_title }}"; // The selected quiz title
        const accordionItems = document.querySelectorAll('.accordion-item'); // Get all accordion items

        // Iterate over each accordion item
        accordionItems.forEach(function (item) {
            const quizTitle = item.getAttribute('data-quiz-title'); // Get the quiz title from the data attribute
            const addAllButton = item.querySelector('.btn-add-question.add-questions'); // Find the "Add All" button

            // Check if the quiz titles match
            if (quizTitle === selectedQuizTitle) {
                // Automatically click the "Add All" button
                if (addAllButton) {
                    addAllButton.click(); // Simulate the click event on the "Add All" button
                }
            }
        });
 

        addQuestionButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                const questionId = this.dataset.questionId;
                const questionTextElement = this.parentElement.querySelector('.question-text');
                questionTextElement.classList.add('fw-normal');
                // CHANGE: Use innerHTML to preserve HTML structure, including images
                const questionText = questionTextElement.innerHTML; 
                const answerOptions = Array.from(this.parentElement.querySelectorAll('.answer-option'));
        
                // Kiểm tra nếu câu hỏi đã có trong danh sách
                if (questionMap.has(questionId)) {
                    const listItem = questionMap.get(questionId);
                    // CHANGE: Use innerHTML to preserve HTML structure
                    listItem.querySelector('.question-input').innerHTML = questionText;
        
                    // Cập nhật câu trả lời (rest of the code remains the same)
                    const answerInputs = listItem.querySelectorAll('.answer-field');
                    answerOptions.forEach((option, index) => {
                        if (answerInputs[index]) {
                            const textarea = answerInputs[index].querySelector('textarea');
                            const checkbox = answerInputs[index].querySelector('input[type="checkbox"]');
                            textarea.value = option.innerText; 
                            checkbox.checked = option.dataset.isCorrect === "true"; // Cập nhật trạng thái checkbox
                        } else {
                            // Tạo mới nếu không tồn tại
                            addAnswerField(listItem, {
                                option_text: option.innerText,
                                is_correct: option.dataset.isCorrect === "true",
                                id: option.dataset.answerId
                            });
                        }
                    });
        
                    // Xóa bất kỳ câu trả lời nào thừa
                    answerInputs.forEach((input, index) => {
                        if (index >= answerOptions.length) {
                            input.remove(); // Xóa các câu trả lời thừa
                        }
                    });
        
                } else {
                    // Tạo mục mới cho câu hỏi đã chọn
                    const listItem = document.createElement('li');
                    // Add a data attribute to store the question's order
                    listItem.dataset.order = selectedQuestionsList.children.length + 1; 

                    listItem.className = 'list-group-item d-flex align-items-center justify-content-between'; 

                    listItem.innerHTML = `
                        <div class="question-content flex-grow-1">
                            <!-- Toolbar -->
                            <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar for text formatting">
                                <div class="btn-group me-2" role="group">
                                    <select class="form-control form-select-sm" style="width: auto;">
                                        <option>Normal</option>
                                        <option>Heading 1</option>
                                        <option>Heading 2</option>
                                    </select>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Text formatting">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formatText('bold')" title="Bold">
                                        <b>B</b>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formatText('italic')" title="Italic">
                                        <i>I</i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formatText('underline')" title="Underline">
                                        <u>U</u>
                                    </button>
                                    
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Lists">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formatText('insertUnorderedList')" title="Unordered List">
                                        <i class="fas fa-list-ul"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formatText('insertOrderedList')" title="Ordered List">
                                        <i class="fas fa-list-ol"></i>
                                    </button>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Insert">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="insertImage()" title="Insert Image">
                                        <i class="fas fa-image"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="insertLink()" title="Insert Link">
                                        <i class="fas fa-link"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="insertCode()" title="Insert Code">
                                        <i class="fas fa-code"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Nội dung câu hỏi -->
                            <div class="question-input" contenteditable="true" placeholder="Edit question..." 
                                    required style="min-height: 80px; 
                                    border: 1px solid #ccc; 
                                    border-radius: 10px; padding: 8px; 
                                    font-size: 16px; line-height: 1.6; 
                                    background: #fff; color: #333; 
                                    font-family: Arial, sans-serif; 
                                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
                                    outline: none; word-wrap: break-word;">
                                ${questionText} 
                            </div>
                           
                            <div id="answerOptionsContainer" class="mt-2"></div>
                            <button class="btn btn-primary btn-sm add-answer mt-2">Add Answer</button>
                        </div>
                        <div class="actions d-flex flex-column align-items-center ms-2 gap-2">
                            <i class="fas fa-trash-alt remove-question text-danger" data-question-id="${questionId}" title="Remove question" style="cursor: pointer; font-size: 1.1rem;"></i>

                            <button class="move-up btn btn-light btn-sm d-flex justify-content-center align-items-center rounded-circle" style="width: 30px; height: 30px; font-size: 0.9rem;">
                                <i class="fas fa-arrow-up" style="font-size: 0.8rem;"></i>
                            </button>

                            <span class="question-number d-flex justify-content-center align-items-center rounded-circle bg-light text-secondary fw-bold" style="font-size: 0.9rem; width: 30px; height: 30px;">
                                ${listItem.dataset.order}
                            </span>

                            <button class="move-down btn btn-light btn-sm d-flex justify-content-center align-items-center rounded-circle" style="width: 30px; height: 30px; font-size: 0.9rem;">
                                <i class="fas fa-arrow-down" style="font-size: 0.8rem;"></i>
                            </button>
                        </div>
                    `;

                    selectedQuestionsList.appendChild(listItem);
                    questionMap.set(questionId, listItem);


                    // Function to toggle text formatting (bold, italic, etc.)
                    function toggleTextFormat(command) {
                        const selection = window.getSelection();
                        const range = selection.rangeCount > 0 ? selection.getRangeAt(0) : null;
                        if (!range) return; // If no selection exists, do nothing

                        // Check the current selection's state to determine if it's already formatted
                        const isFormatted = document.queryCommandState(command);

                        // If formatted, remove the format, else apply it
                        if (isFormatted) {
                            document.execCommand(command, false, null); // Remove the format
                        } else {
                            document.execCommand(command, false, null); // Apply the format
                        }
                    }

                    listItem.querySelector('.btn-toolbar').addEventListener('click', (event) => {
                        const button = event.target.closest('button');
                        if (!button) return; // Ignore clicks that are not on buttons
                        
                        const title = button.title;
                        console.log(`Button clicked: ${title}`);
                    
                        switch (title) {
                            case 'Bold':
                                toggleTextFormat('bold');
                                break;
                            case 'Italic':
                                toggleTextFormat('italic');
                                break;
                            case 'Underline':
                                toggleTextFormat('underline');
                                break;
                            
                            case 'Unordered List':
                                toggleTextFormat('insertUnorderedList');
                                break;
                            case 'Ordered List':
                                toggleTextFormat('insertOrderedList');
                                break;
                            case 'Insert Image':
                                const questionInput = event.currentTarget.closest('li').querySelector('.question-input'); // Get the correct questionInput
                                insertImage(questionInput); // Pass it to the function
                                break;
                            case 'Insert Link':
                                insertLink();
                                break;
                            case 'Insert Code':
                                insertCode();
                                break;
                        }
                    });
                    function insertImage(questionInput) {
                        const fileInput = document.createElement('input');
                        fileInput.type = 'file';
                        fileInput.accept = 'image/*';
                        fileInput.style.display = 'none';
                        document.body.appendChild(fileInput);
                        fileInput.click();
                    
                        fileInput.addEventListener('change', function(e) {
                            const file = e.target.files[0];
                            const reader = new FileReader();
                    
                            reader.onload = function(event) {
                                const imgSrc = event.target.result;
                                const imgContainer = document.createElement('div');
                                
                                // Căn giữa hình ảnh
                                imgContainer.style.display = 'flex';
                                imgContainer.style.justifyContent = 'center';
                                imgContainer.style.marginTop = '10px'; // Khoảng cách giữa câu hỏi và ảnh
                    
                                const imgElement = document.createElement('img');
                                imgElement.src = imgSrc;
                                imgElement.alt = file.name;
                                imgElement.style.maxWidth = '200px';
                                imgElement.style.maxHeight = '150px';
                    
                                imgContainer.appendChild(imgElement);
                    
                                // Thêm ảnh dưới câu hỏi
                                questionInput.appendChild(imgContainer);
                    
                                // Xoá file input để tránh lặp thừa
                                fileInput.remove();
                            };
                            reader.readAsDataURL(file);
                        });
                    }
                    
                    
                    // NOW add the event listeners:
                    const moveUpButton = listItem.querySelector('.move-up');
                    const moveDownButton = listItem.querySelector('.move-down');
                    moveUpButton.addEventListener('click', () => moveQuestion(listItem, 'up'));
                    moveDownButton.addEventListener('click', () => moveQuestion(listItem, 'down'));
        
                    // Hiển thị nút lưu nếu có ít nhất một câu hỏi
                    saveButton.style.display = 'block';
        
                    let deleted_ids = []; // Array to keep track of deleted question IDs

                    // Add event listener for removing the question
                    const removeButton = listItem.querySelector('.remove-question');
                    removeButton.addEventListener('click', () => {
                        const questionId = questionMap.get(listItem.dataset.questionId); // Get the ID of the question being removed

                        // Mark the question as deleted by adding a class
                        listItem.classList.add('deleted'); // Add a deleted class to the item
                        deleted_ids.push(questionId); // Add the question ID to the deleted_ids array

                        listItem.remove(); // Remove the question from the DOM
                        questionMap.delete(questionId); // Remove from questionMap
                        updateQuestionNumbers(); // Update numbering after deletion
                    });
                
            
        
                    // Sự kiện để thêm câu trả lời
                    const addAnswerButton = listItem.querySelector('.add-answer');
                    addAnswerButton.addEventListener('click', function () {
                        addNewAnswerField(listItem);
                    });
        
                    // Thêm các tùy chọn câu trả lời cho câu hỏi mới
                    answerOptions.forEach(option => {
                        addAnswerField(listItem, {
                            option_text: option.innerText,
                            is_correct: option.dataset.isCorrect === "true",
                            id: option.dataset.answerId
                        });
                    });
                    updateQuestionNumbers();
                }
            updateQuestionNumbers();
            });
        });

        

        function moveQuestion(listItem, direction) {
            const parent = listItem.parentNode;
            const currentIndex = Array.from(parent.children).indexOf(listItem);
        
            if (direction === 'up' && currentIndex > 0) {
                parent.insertBefore(listItem, parent.children[currentIndex - 1]);
            } else if (direction === 'down' && currentIndex < parent.children.length - 1) {
                parent.insertBefore(listItem, parent.children[currentIndex + 1 === parent.children.length ? currentIndex + 1 : parent.children[currentIndex + 2] ]); // Corrected this logic
        
            }
        
            updateQuestionNumbers();
        }
        
        
        function updateQuestionNumbers() {
            const questions = selectedQuestionsList.querySelectorAll('li');
            questions.forEach((question, index) => {
                question.dataset.order = index + 1;
                const numberSpan = question.querySelector('.question-number');
                if (numberSpan) {
                     numberSpan.textContent = index + 1;
                }
               
            });
        }

        // Function to dynamically add answer fields for editing
        function addAnswerField(listItem, answerData = null) {
            const newAnswerDiv = document.createElement('div');
            newAnswerDiv.className = 'form-group mb-3 answer-field';
            console.log(listItem)
            // Sử dụng dữ liệu câu trả lời nếu có
            let answerText = answerData ? answerData.option_text : ""; // Nội dung câu trả lời
            let isChecked = answerData && (answerData.is_correct === 'true' || answerData.is_correct === true) ? "checked" : ""; // Trạng thái checkbox
            let answerId = answerData ? answerData.id : ""; // ID câu trả lời
        
           newAnswerDiv.innerHTML = `
                <div class="input-group" style="width: 100%; display: flex; align-items: center; margin-bottom: 10px; padding-left: 10px;">
                    <input type="checkbox" class="form-check-input" name="is_correct[]" value="${answerId}" ${isChecked} style="margin-left: 25px;">
                    <input type="hidden" name="answer_id[]" value="${answerId}">
                    
                    <textarea class="form-control" 
                            style="${answerData && (answerData.is_correct === 'true' || answerData.is_correct === true) ? 'background-color: #d9f7d9;' : ''}; 
                                    width: 70%; height: 60px; resize: vertical; margin-right: 15px; margin-left: 15px;" 
                            name="option_text[]" 
                            placeholder="Enter answer..." 
                            required>${answerText}</textarea>
                    
                    <i class="fas fa-times remove-answer" data-answer-id="${answerId}" style="color: #dc3545; cursor: pointer; margin-right: 10px;"></i>
                </div>
            `;

            

            listItem.querySelector('#answerOptionsContainer').appendChild(newAnswerDiv);
        
            // Thêm chức năng xóa cho câu trả lời
            const removeButton = newAnswerDiv.querySelector('.remove-answer');
            removeButton.addEventListener('click', () => {
                newAnswerDiv.remove(); // Xóa câu trả lời khỏi DOM
            });
        }
        
        

        function addNewAnswerField(listItem) {
            addAnswerField(listItem); // Call to add a new empty answer field
        }

        saveButton.addEventListener('click', function () {
            const savedData = [];
            const deletedIds = [];
        
            // Collect edited questions and answers
            questionMap.forEach((item, questionId) => {
                const editedQuestionText = item.querySelector('.question-input').innerHTML;
                const answerInputs = Array.from(item.querySelectorAll('.answer-field'));
                
                // Check if the question is marked as deleted
                if (item.classList.contains('deleted')) {
                    deletedIds.push(questionId); // Collect ID of deleted question
                    return; // Skip this question
                }

                const editedAnswerOptions = answerInputs.map(input => {
                    const textarea = input.querySelector('textarea');
                    const checkbox = input.querySelector('input[type="checkbox"]');
                    return {
                        text: textarea.value,
                        is_correct: checkbox.checked 
                    };
                });
        
                // Save edited question information
                if (editedQuestionText.trim() !== '' || editedAnswerOptions.some(option => option.text.trim() !== '')) {
                    savedData.push({
                        id: questionId, // Existing question ID if updating
                        text: editedQuestionText, // Edited question text
                        answers: editedAnswerOptions.map(answer => ({
                            text: answer.text, // Answer text
                            is_correct: answer.is_correct // Correctness of the answer
                        }))
                    });
                }
            });
        
            // Collect new questions that need to be added
            const newQuestions = document.querySelectorAll('.new-question'); // Class for new questions in HTML
        
            newQuestions.forEach((newItem) => {
                const newQuestionText = newItem.querySelector('.question-input').value;
                const newAnswerInputs = Array.from(newItem.querySelectorAll('.answer-field'));
        
                const newAnswerOptions = newAnswerInputs.map(input => {
                    const textarea = input.querySelector('textarea');
                    const checkbox = input.querySelector('input[type="checkbox"]');
                    return {
                        text: textarea.value,
                        is_correct: checkbox.checked 
                    };
                });
        
                // Only add new question if it is not empty
                if (newQuestionText !== '' || newAnswerOptions.some(option => option.text !== '')) {
                    savedData.push({
                        text: newQuestionText,
                        answers: newAnswerOptions.map(answer => ({ text: answer.text, is_correct: answer.is_correct })) 
                    });
                }
            });
        
            // Collect copied questions from another quiz (if applicable)
            const copiedQuestionElements = document.querySelectorAll('.copied-question'); // Class for copied questions
            copiedQuestionElements.forEach((item) => {
                const copiedQuestionId = item.dataset.questionId; // Assuming question ID is stored in a data attribute
                const copiedQuestionText = item.querySelector('.copied-question-text').innerText.trim();
                const answerOptions = Array.from(item.querySelectorAll('.copied-answer-option')); // Class for copied answer options
        
                const copiedAnswerOptions = answerOptions.map(option => {
                    return {
                        text: option.querySelector('.copied-answer-text').value,
                        is_correct: option.querySelector('.copied-answer-checkbox').checked 
                    };
                });
        
                // Add copied question and answers to saved data
                if (copiedQuestionText !== '' || copiedAnswerOptions.some(option => option.text !== '')) {
                    savedData.push({
                        text: copiedQuestionText,
                        answers: copiedAnswerOptions.map(answer => ({ text: answer.text, is_correct: answer.is_correct })) 
                    });
                }
            });

            // Collect IDs of deleted questions
            const deletedItems = document.querySelectorAll('.question-item.deleted'); 
            deletedItems.forEach(item => {
                item.classList.add('mb-2');
                const questionId = item.dataset.questionId; // Lấy ID từ thuộc tính data
                deletedQuestionIds.push(questionId); // Thêm ID vào mảng đã xóa
            });
        
            // Send collected data
            if (savedData.length > 0 || deletedIds.length > 0) {
                fetch("{% url 'quiz:quiz_detail' quiz_id=quiz.id %}", { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), 
                    },
                    body: JSON.stringify({
                        questions: savedData,
                        deleted_ids: deletedIds // Include deleted IDs
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status === 'success') {
                        location.reload(); // Reload the page if saved successfully
                    } else {
                        alert('Failed to update questions and answers.');
                    }
                })
                .catch(error => console.error('Error:', error));
            } else {
                alert('No changes detected to save.');
            }
        });
        
        // Function to get CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
    
        const currentQuizAccordionItem = document.querySelector(`.accordion-item[data-quiz-title="${selectedQuizTitle}"]`);

        if (currentQuizAccordionItem) {
            currentQuizAccordionItem.style.display = 'none'; // Hide the current quiz accordion item
        }

        const addQuizButtons = document.querySelectorAll('.add-questions');
        
        function addAllQuestionsFromQuiz(quizDropdown) {
            const questions = quizDropdown.closest('.accordion-header').nextElementSibling.querySelectorAll('.add-question');
            questions.forEach(question => {
                // Trigger a click event on each individual "add question" button
                question.click(); 
            });
        }

        addQuizButtons.forEach(button => {
            const quizTitle = button.closest('.quiz-dropdown').querySelector('.quiz-title').innerText.trim();
            if (quizTitle === selectedQuizTitle) {
                const currentQuizQuestions = button.closest('.accordion-header').nextElementSibling.querySelectorAll('.add-question');
                currentQuizQuestions.forEach(question => question.click());
            }
        });

        
        addQuizButtons.forEach(button => {
            const quizTitle = button.closest('.quiz-dropdown').querySelector('.quiz-title').innerText.trim();

            button.addEventListener('click', function(event) {
                event.stopPropagation();


                if (quizTitle === selectedQuizTitle) {
                    // Current quiz - confirmation before clearing
                    const confirmClear = confirm("Clear all selected questions and revert to the original quiz questions?");
                    if (confirmClear) {
                        selectedQuestionsList.innerHTML = '';
                        questionMap.clear();
                        addAllQuestionsFromQuiz(button.closest('.quiz-dropdown')); // Use the function here
                    }
                } else {
                // Check if any questions from this quiz are already selected
                    let questionsFromThisQuizSelected = false;
                    const questions = button.closest('.accordion-header').nextElementSibling.querySelectorAll('.add-question');


                    questions.forEach(question => {
                        if (questionMap.has(question.dataset.questionId)) {
                            questionsFromThisQuizSelected = true;
                            return; // No need to continue checking
                        }
                    });


                    if (questionsFromThisQuizSelected) {
                        const confirmClear = confirm("Questions from this quiz are already selected. Do you want to clear all selected questions and add only these ones?");
                        if (confirmClear) {
                            selectedQuestionsList.innerHTML = ''; 
                            questionMap.clear(); 
                            addAllQuestionsFromQuiz(button.closest('.quiz-dropdown'));
                        } 
                    } else {
                        addAllQuestionsFromQuiz(button.closest('.quiz-dropdown'));
                    }
                }
            });
        });

});
     
        const existingQuestions = document.querySelectorAll('#selected-questions > li');
        existingQuestions.forEach(questionLi => {
            const questionId = questionLi.dataset.questionId;  // Make sure you have this data attribute
            if (questionId) {
                questionMap.set(questionId, questionLi);

            // Call a function to populate the editable areas in 'selected-questions'
                populateSelectedQuestion(questionLi, questionId); 


            }
        });

    
        function populateSelectedQuestion(questionLi, questionId) {
            // Find the appropriate quiz and question from your quiz_option data
            // You might need to adjust how you access the questions/answers depending on how you render your quiz options
            const quiz_option = all_quizzes.find(quiz => {
                return quiz.questions.some(q => q.id === questionId); // Check if any question in the quiz has the matching ID
            });

            const question = quiz_option.questions.find(q => q.id === questionId);

            if (question) {
                // Assuming your list item has similar structure as you showed in your original code
                questionLi.innerHTML = `
                    <!-- ... your existing HTML structure for the selected question list item ... -->
                    <div class="question-input" contenteditable="true">${question.question_text}</div>
                    <div id="answerOptionsContainer"></div>
                    <!-- ... more elements ... -->
                `;

                question.answer_options.forEach(answer => {
                    addAnswerField(questionLi, {
                        option_text: answer.option_text,
                        is_correct: answer.is_correct,
                        id: answer.id
                    });
                });
            } else {
                console.error("Question not found:", questionId);
            }
        }
                    
</script>


{% endblock %}
